{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/form.css">


<!-- <script>

    function initMap(data) {

        const lat = document.getElementById("lat")
        const lng = document.getElementById("lng")
        const current_button = document.getElementById("current_button")


        const input = document.getElementById("autocomplete");
        const options = {
            componentRestrictions: { country: "us" },
            fields: ["address_components", "geometry", "name"],
            strictBounds: false,
            types: ["establishment"],
        };
        const autocomplete = new google.maps.places.Autocomplete(input, options);


        autocomplete.addListener("place_changed", () => {
            const place = autocomplete.getPlace();
            lat.value = place.geometry.location.lat()
            lng.value = place.geometry.location.lng()
        })

        current_button.addEventListener("click", () => {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        input.value = "using current location"
                        lat.value = position.coords.latitude
                        lng.value = position.coords.longitude
                    })
            }
        });

    }

</script> -->





<div class="container-fluid box">
    <div class="row text-center left-box">
        <div class="col-md-4 current-location">

        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form in right-box">
            <div class="container-fluid inside">
                <div class="row">
                    <h2 class="space">Find A Charger</h2>
                </div>
                <div class="row">
                    <form action="/formfor" class="form-group" id="searchform" method="POST">
                        <div class="row ">
                            <div class="wrapper">

                            <input class="form__input space" type="text" id="autocomplete"
                                placeholder="enter your place" required>

                            <button class="location-icon" id="current_button">
                                <!-- <img src="/static/location-arrow.png" alt=""> -->
                            </button>
                            <!-- <img class="location-icon" src="/static/location-arrow.png" /> -->

                            </div>
                            <input id="lat" type="text" name="lat" style="display:none;">
                            <input id="lng" type="text" name="lng" style="display:none;">

                        </div>

                        <div class=" options space">
                            <h5>Select Port Type</h5>
                            <div class="inline">

                                <div>
                                    <input name="port" type="radio" value="" id="portall" required>
                                    <label for="portall">
                                        <span>View All</span></label>
                                </div>


                                <input name="port" type="radio" value=27 id="porttesla">
                                <label for="porttesla">
                                    <img src="/static/tessy.PNG">
                                    <span>Tesla</span></label>



                                <input name="port" type="radio" id="portjplug" value=1>
                                <label for="portjplug">
                                    <img src="/static/jplu2.PNG">
                                    <span>J-Plug</span>
                                </label>


                                <input name="port" type="radio" id="portcss" value=32>
                                <label for="portcss">
                                    <img src="/static/csstype1.PNG">
                                    <span>CSS type-1</span>
                                </label>

                                <input name="port" type="radio" id="portchaedmo" value=2>
                                <label for="portchaedmo">
                                    <img src="/static/chaed.PNG">
                                    <span>CHAdeMO</span>
                                </label>
                            </div>
                        </div>

                        <div class="range space">
                            <div class="mid">
                                <span>Max Results</span>
                            </div>
                            <div class="sliderValue">
                                <span id="val">100</span>
                            </div>
                            <div class="field">
                                <div class="value left">
                                    1</div>
                                <input id="range" type="range" min="1" max="50" value="25" steps="1" name="max">
                                <div class="value right">
                                    50</div>
                            </div>
                        </div>

                        <div class="row ">
                            <button type="submit" class="submit sub" form="searchform">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



<script>
    const slideValue = document.getElementById("val");
    const inputSlider = document.getElementById("range");
    inputSlider.oninput = (() => {
        let value = inputSlider.value;
        slideValue.textContent = value;
        slideValue.style.left = (value * 2) + "%";
        slideValue.classList.add("show");
    });
    inputSlider.onblur = (() => {
        slideValue.classList.remove("show");
    });
</script>





{% endblock %}