<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/pro-card.css">


    <link rel="stylesheet" href="/static/style.css">

    <script type="/static/styles.js">

    </script>

    <script src="/static/styles.js">
    </script>

    <script>
        const image = "/static/charging2.png"
        let map;

        function initMap() {


            map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: {{ origin['lat'] }},
                    lng: {{ origin['lng'] }},
                },
        zoom: 12,
            mapTypeControlOptions: {
            mapTypeIds: ['roadmap']
        },
        styles: normal_color,
            });



        {% for charger in data %}
        charger_info = document.getElementById("{{ charger.id }}main");

        var center{{ charger.id }} = {
            lat: {{ charger.lat }},
            lng: {{ charger.lng }}
        };
        // console.log(charger_info)
        // console.log(center)
        google.maps.event.addDomListener(charger_info, 'click', function () {
            map.setCenter(center{{ charger.id }})
        map.setZoom(16)
        });
        {% endfor %}



        normal = document.getElementById("normal")
        dark = document.getElementById("dark")
        warm = document.getElementById("warm")



        normal.addEventListener("click", () => {
            map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: {{ origin['lat'] }},
            lng: {{ origin['lng'] }},
            },
            zoom: 12,
            mapTypeControlOptions: {
            mapTypeIds: ['roadmap']
        },
            styles: normal_color,
        });

        new google.maps.Marker({
            position: {
                lat: {{ origin.lat }},
            lng: {{ origin.lng }}
                },
            map,
            icon : {
            url: "/static/placeholder.png",
            scaledSize: new google.maps.Size(45, 45)
        },
            });


        {% for charger in data %}
        new google.maps.Marker({
            position: {
                lat: {{ charger.lat }},
            lng: {{ charger.lng }}
                },
            map,
            icon : {
            url: image,
            scaledSize: new google.maps.Size(45, 45)
        },
            });
        {% endfor %}
    })

        dark.addEventListener("click", () => {
            map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: {{ origin['lat'] }},
            lng: {{ origin['lng'] }},
            },
            zoom: 12,
            mapTypeControlOptions: {
            mapTypeIds: ['roadmap']
        },
            styles: grey,
        });

        new google.maps.Marker({
            position: {
                lat: {{ origin.lat }},
            lng: {{ origin.lng }}
                },
            map,
            icon : {
            url: "/static/placeholder.png",
            scaledSize: new google.maps.Size(45, 45)
        },
            });


        {% for charger in data %}
        new google.maps.Marker({
            position: {
                lat: {{ charger.lat }},
            lng: {{ charger.lng }}
                },
            map,
            icon : {
            url: image,
            scaledSize: new google.maps.Size(45, 45)
        },
            });
        {% endfor %}
    })

        warm.addEventListener("click", () => {
            map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: {{ origin['lat'] }},
            lng: {{ origin['lng'] }},
            },
            zoom: 12,
            mapTypeControlOptions: {
            mapTypeIds: ['roadmap']
        },
            styles: warm_color,
        });

        new google.maps.Marker({
            position: {
                lat: {{ origin.lat }},
            lng: {{ origin.lng }}
                },
            map,
            icon : {
            url: "/static/placeholder.png",
            scaledSize: new google.maps.Size(45, 45)
        },
            });


        {% for charger in data %}
        new google.maps.Marker({
            position: {
                lat: {{ charger.lat }},
            lng: {{ charger.lng }}
                },
            map,
            icon : {
            url: image,
            scaledSize: new google.maps.Size(45, 45)
        },
            });
        {% endfor %}
    })

        new google.maps.Marker({
            position: {
                lat: {{ origin.lat }},
            lng: {{ origin.lng }}
                },
            map,
            icon : {
            url: "/static/placeholder.png",
            scaledSize: new google.maps.Size(45, 45)
        },
            });


        {% for charger in data %}
        new google.maps.Marker({
            position: {
                lat: {{ charger.lat }},
            lng: {{ charger.lng }}
                },
            map,
            icon : {
            url: image,
            scaledSize: new google.maps.Size(45, 45)
        },
            });
        {% endfor %}
        }

        window.initMap = initMap;

    </script>

    <title>Map</title>
</head>

<body>
    <nav class="navbar navbar-expand" id="nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/static/icons8-plug-64.png" alt="logo" id="logo">
                    <span>Plugged In</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if not g.user %}
                <li><a href="/formfor">New Search</a></li>
                <li><a href="/newpro">Log in</a></li>
                {% else %}
                <li>
                    <a href="/users/{{ g.user.id }}">
                        <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
                    </a>
                </li>
                <li><a href="/profile/{{ g.user.id }}">Profile</a></li>
                <li><a href="/logout">Log out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% for category, msg in get_flashed_messages(with_categories=true) %}
        <div class="alert {{ category }}">{{msg}}</div>
        {% endfor %}
    </div>
    <div class="container">
        {% for category, msg in get_flashed_messages(with_categories=true) %}
        <div class="alert {{ category }}">{{msg}}</div>
        {% endfor %}
    </div>

    <div id="colors" style="display: None;">
        <h4>Map Theme</h4>
        <button id="normal">
            normal
        </button>

        <button id="warm">
            warm
        </button>

        <button id="dark">
            grey
        </button>
    </div>

    <div id="block" style="display: None;">


        <div id="map"></div>

        <div id="scroll">
            {% for charger in data %}
            <div class="location" id="{{ charger.id }}main">
                <h5>Charger# {{ charger.id }}</h5>
                <span>{{charger.address}}</span>
                <div class="center">
                    <button type="button" class="" data-toggle="modal" data-target="#{{ charger.id }}">more
                        info</button>


                </div>


            </div>

            <div class="modal fade popup" id="{{ charger.id }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header head">
                            <h5 class="modal-title" id="exampleModalLabel">Charger# {{ charger.id }}
                                {% if charger.level > 2 %}
                                <div class="supercharger">
                                    <i class="bi bi-lightning-fill"></i>
                                    <span>
                                        Supercharger
                                    </span>
                                </div>
                                {% endif %}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="no-bullets">
                                <li class="specs">
                                    <label class="bold">Address</label>
                                    <span>{{ charger.address }}</span>
                                </li>

                                <li class="specs">
                                    <label class="bold">Chargers Available</label>
                                    <span>{{ charger.chargers_avail or "unknown"}}</span>
                                </li>

                                <li class="specs">
                                    <label class="bold">Connection Type</label>
                                    <span>{{ charger.connection_type }}</span>
                                </li>

                                <li class="specs">
                                    <label class="bold">Level</label>
                                    <span>{{ charger.level }}</span>
                                </li>

                                <li class="specs">
                                    <label class="bold">Telephone</label>
                                    <span>{{ charger.telephone }}</span>
                                </li>



                                <a class="directions"
                                    href="https://www.google.com/maps?daddr={{ charger.lat }},{{ charger.lng }}"
                                    target="_blank">
                                    <img src="/static/map.png" alt="">Directions</a>

                            </ul>

                        </div>
                        <div class="modal-footer">
                            <a class="directions"
                                href="https://www.google.com/maps?daddr={{ charger.lat }},{{ charger.lng }}"
                                target="_blank">
                                <img src="/static/map.png" alt=""></a>
                            <button type="button" class="submit card-button" data-toggle="modal"
                                data-target="#{{ charger.id }}pro-card">View Reviews</button>
                            {% if g.user %}
                            {% if charger.id not in review_list%}
                            <button type="button" class="submit" data-toggle="modal"
                                data-target="#{{ charger.id }}review">Leave Review</button>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}
        </div>
        {% for charger in data %}


        <div class="modal fade popup" id="{{ charger.id }}review" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header head2">
                        <h5 class="modal-title" id="exampleModalLabel">Review for Charger #{{ charger.id }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/review/{{ charger.id }}" id="review{{ charger.id }}" method="POST">
                            <div class="container1">
                                <div class="row rating-stars">
                                    <fieldset class="rating" name="rating">

                                        <input type="radio" id="{{ charger.id }}star5" name="rating" value=5 />
                                        <label class="full" for="{{ charger.id }}star5"></label>

                                        <input type="radio" id="{{ charger.id }}star4half" name="rating" value=4.5 />
                                        <label class="half" for="{{ charger.id }}star4half"></label>

                                        <input type="radio" id="{{ charger.id }}star4" name="rating" value=4 />
                                        <label class="full" for="{{ charger.id }}star4"></label>

                                        <input type="radio" id="{{ charger.id }}star3half" name="rating" value=3.5 />
                                        <label class="half" for="{{ charger.id }}star3half"></label>

                                        <input type="radio" id="{{ charger.id }}star3" name="rating" value=3 />
                                        <label class="full" for="{{ charger.id }}star3"></label>

                                        <input type="radio" id="{{ charger.id }}star2half" name="rating" value=2.5 />
                                        <label class="half" for="{{ charger.id }}star2half"></label>

                                        <input type="radio" id="{{ charger.id }}star2" name="rating" value=2 />
                                        <label class="full" for="{{ charger.id }}star2"></label>

                                        <input type="radio" id="{{ charger.id }}star1half" name="rating" value=1.5 />
                                        <label class="half" for="{{ charger.id }}star1half"></label>

                                        <input type="radio" id="{{ charger.id }}star1" name="rating" value=1 />
                                        <label class="full" for="{{ charger.id }}star1"></label>

                                        <input type="radio" id="{{ charger.id }}starhalf" name="rating" value=0.5 />
                                        <label class="half" for="{{ charger.id }}starhalf"></label>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="description">Leave A Description</label>
                                <textarea name="description" rows="7" maxlength="250"
                                    placeholder="max length 250"></textarea>
                            </div>



                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel" data-toggle="modal"
                            data-target="#{{ charger.id }}review">Cancel</button>
                        <button type="submit" form="review{{ charger.id }}" class=" review">Submit</button>
                    </div>
                </div>
            </div>
        </div>








        <div class="modal fade popup" id="{{ charger.id }}reviews" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header head2">
                        <h5 class="modal-title" id="exampleModalLabel">Reviews for Charger #{{ charger.id }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if charger.reviews|length < 1 %} <h6>Currently no reviews</h6>
                            {% endif %}

                            {% for review in charger.reviews %}
                            <div class="individual">
                                <div>
                                    <h6>@{{ review.users_reviewed.username }}</h6>
                                </div>
                                <div>
                                    {% for i in range(0, 5) %}
                                    {% if review.rating - i == 0.5 %}
                                    <i class="bi bi-star-half"></i>
                                    {% elif review.rating - i >= 1 %}
                                    <i class="bi bi-star-fill"></i>
                                    {% else %}
                                    <i class="bi bi-star"></i>
                                    {% endif %}
                                    {% endfor %}
                                </div>

                                <h5 class="bold">{{review.title}}</h5>
                                <div>
                                    {{review.description}}</div>

                            </div>

                            {% endfor %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel" data-toggle="modal"
                            data-target="#{{ charger.id }}reviews">Cancel</button>
                    </div>
                </div>
            </div>
        </div>





        <div class="modal fade popup" id="{{ charger.id }}pro-card" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header head3">
                        <h5 class="modal-title" id="exampleModalLabel">Reviews for Charger #{{ charger.id }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if charger.reviews|length < 1 %} <h6>Currently no reviews</h6>
                            {% endif %}
                            <div class="scroll-horizontal">


                                {% for review in charger.reviews %}

                                <figure class="snip1568">
                                    <figcaption>
                                        <h3>@{{ review.users_reviewed.username }}</h3>
                                        <h4>{{review.title}}</h4>
                                        <div>
                                            {% for i in range(0, 5) %}
                                            {% if review.rating - i == 0.5 %}
                                            <i class="bi bi-star-half"></i>
                                            {% elif review.rating - i >= 1 %}
                                            <i class="bi bi-star-fill"></i>
                                            {% else %}
                                            <i class="bi bi-star"></i>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="over">
                                            <p>{{review.description}}</p>
                                        </div>
                                    </figcaption>
                                    <div class="profile-image">
                                        <a href="/profile/{{ review.users_reviewed.id }}">
                                            <img src="{{ review.users_reviewed.image_url }}" alt="profile-sample2" />
                                        </a>
                                    </div>
                                </figure>
                                {% endfor %}
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel" data-toggle="modal"
                            data-target="#{{ charger.id }}pro-card">Cancel</button>
                    </div>
                </div>
            </div>
        </div>



        {% endfor %}
    </div>
    <div id="battery">

        <div class="outter">
            <div class="inner"></div>
            <div class="inner"></div>
            <div class="inner"></div>
        </div>
        <div class="pole"></div>
        <div class="loading">
            <h2>LOADING</h2>
        </div>

    </div>



    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvG9-AKwWAgw5uYRi0kaQfWxeeWuiRr1g&map_ids=a42a5ad7a9a3a2b4&callback=initMap">
        </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>

        window.addEventListener('load', (event) => {
            setTimeout(function () {
                const map = document.getElementById("block")
                const battery = document.getElementById("battery")
                const colors = document.getElementById("colors")

                battery.style.display = "none";
                map.style.display = "contents";
                colors.style.display = "";



            }, 4000);

        });



    </script>

</body>

</html>